---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.tsx'
import RandNumb from '../components/RandNumb.tsx'
import AstroCard from '../components/AstroCard.astro'
import RandomNumber from '../components/RandomNumber.astro'
---

<Layout title="Examples Page">
  <main class="container mx-auto">
    <h1 class="text-2xl font-bold py-4 mb-6">Examples</h1>
    <div class="grid grid-cols-3 gap-16">
      <Card title="React Random Number">
        <RandNumb client:visible />
      </Card>
      <AstroCard title="Astro Random Number" href="#">
        <RandomNumber />
      </AstroCard>
    </div>
  </main>
</Layout>
