---
import Layout from '../layouts/Layout.astro'
import { Button } from '@nextui-org/button'
import Card from '../components/Card.tsx'
import AstroLogo from '../components/AstroLogo.astro'
import FastifyLogo from '../components/FastifyLogo.astro'
---

<Layout title="Welcome to Astro.">
  <main class="container p-6 mx-auto">
    <div class="flex space-x-16">
      <div class="w-1/2 flex items-center justify-center">
        <div class="max-w-64">
          <AstroLogo />
        </div>
      </div>
      <div class="w-1/2 flex items-center justify-center">
        <div class="max-w-64">
          <FastifyLogo />
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-16">
      <Card href="https://docs.astro.build/" title="Documentation">
        <p>Learn how Astro works and explore the official API docs.</p>
      </Card>
      <Card href="https://astro.build/integrations/" title="Integrations">
        <p>Supercharge your project with new frameworks and libraries.</p>
      </Card>
      <Card href="https://astro.build/themes/" title="Themes">
        <p>Explore a galaxy of community-built starter themes.</p>
      </Card>
      <Card href="https://astro.build/chat/" title="Community">
        <p>Come say hi to our amazing Discord community. ❤️</p>
      </Card>
    </div>
  </main>
</Layout>
