---
interface Props {
  title: string
  href: string
}

const { href, title } = Astro.props
---

<div class="p-4 dark:border rounded-xl shadow-xl">
  <a href={href} class="text-lg">
    <h2>
      {title}
    </h2>
  </a>
  <slot />
</div>
