---
import type { HTMLAttributes } from 'astro/types'
import { checkLinkActive } from '../lib/utils'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props as Props

const { pathname } = Astro.url
const subpath = pathname.match(/[^\/]+/g)

const isActive = href === pathname || href === '/' + subpath?.[0]
---

<a
  href={href}
  class:list={[
    className,
    'font-medium',
    { 'text-blue-500 focus:outline-none': isActive },
    {
      'text-gray-600 hover:text-gray-400 focus:outline-none focus:text-gray-400 dark:text-neutral-400 dark:hover:text-neutral-500 dark:focus:text-neutral-500':
        !isActive,
    },
  ]}
  {...props}
>
  <slot />
</a>
