---
import DarkToggle from './DarkToggle.tsx'
import LogoutButton from './LogoutButton'
import HeaderLink from './HeaderLink.astro'

const { user } = Astro.locals
---

<div
  class="flex flex-wrap sm:justify-start sm:flex-nowrap w-full bg-white text-sm py-3 dark:bg-gray-950"
>
  <nav
    class="container mx-auto px-4 sm:flex sm:items-center sm:justify-between"
  >
    <a
      class="flex-none font-semibold text-xl text-black focus:outline-none focus:opacity-80 dark:text-white"
      href="#"
      aria-label="Brand"
    >
      <div className="text-3xl font-bold">Fastro</div>
      <p className="font-bold text-inherit">Astro + Fastify Starter</p>
    </a>
    <div
      class="flex flex-row items-center gap-5 mt-5 sm:justify-end sm:mt-0 sm:ps-5"
    >
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/examples">Examples</HeaderLink>
      <div>
        <DarkToggle client:load />
      </div>
      {
        !user ? (
          <>
            <HeaderLink href="/login">Login</HeaderLink>
            <HeaderLink href="/register">Register</HeaderLink>
          </>
        ) : (
          <div>
            <LogoutButton client:load />
          </div>
        )
      }
    </div>
  </nav>
</div>
