<script>
  import { client } from '../api/client.ts'

  client.randomNumber.subscribe(undefined, {
    onData(data) {
      let el = document.getElementById('holder')
      el.innerText = data.randomNumber.toString()
    },
  })
</script>

<div>
  <div id="holder" class="text-slate-900">0</div>
</div>
