---
import { ViewTransitions } from 'astro:transitions'
import Navigation from '../components/Navigation'

interface Props {
  title: string
}

const { title } = Astro.props
const { user } = Astro.locals
const { pathname } = Astro.url
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline>
      function setDarkMode(document) {
        if (
          localStorage.theme === 'dark' ||
          (!('theme' in localStorage) &&
            window.matchMedia('(prefers-color-scheme: dark)').matches)
        ) {
          document.documentElement.classList.add('dark')
        } else {
          document.documentElement.classList.remove('dark')
        }
      }

      setDarkMode(document)

      document.addEventListener('astro:before-swap', (event) => {
        // prevents screen flashing
        setDarkMode(event.newDocument)
      })
    </script>
    <ViewTransitions />
  </head>
  <body class="text-gray-900 dark:text-gray-100">
    <Navigation user={user} currentPath={pathname} client:only="react" />
    <slot />
  </body>
</html>
