---
import { ViewTransitions } from 'astro:transitions'
import Navigation from '../components/Navigation.tsx'
import { Astro } from 'astro/env'

interface Props {
  title: string
}

const { title } = Astro.props
const { user } = Astro.locals
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <Navigation user={user} client:visible />
    <slot />
  </body>
</html>
